.question {
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  //apartir da segunda pergunta será aplicado uma margem no topo de 8px
  & + .question {
    margin-top: 8px;
  }

  &.highlighted {
    background: #d0e9d1;
    border: 1px solid #3b7f3d;

    footer .user-info span {
      color: #29292e;
    }
  }

  &.answered {
    background: #a1d3a2;
  }

  p {
    color: #29292e;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      > span {
        margin-left: 8px;
        color: #737380;
        font-size: 14px;
      }
    }

    > div {
      display: flex;
      gap: 16px;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #737380;
      gap: 4px;
    }
    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #737380;
        gap: 8px;

        &.liked {
          color: #0d2924;

          svg path {
            stroke: #0d2924;
          }
        }

        &:hover {
          filter: brightness(0.8);
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .question {
    margin: 0 5px 0 5px;
    padding: 10px;
  }
  .user-info {
    img {
      width: 27px;
      height: 27px;
    }
  }
}
